datasets/*
pretrained_models/*
data/*
theis_paper/*
*.pyc
*.png
!imgs/model_overview.png
*.pdf
ksport/*
wandb/*
crl/env1_exp/figs/*
result/
notebooks/
logs/
*.pyc
*.wandb
*.log
*.json
*.txt
*.yaml
src/uhler/wandb
!data/required_files/
src/encoder_vs_decoder/
src/misc/
commands/