data/Norman2019_raw.*
data/Norman2019_reduced.h5ad
data/wessel_dataset/HEK293FT_carpool.h5ad
data/wessel_dataset/THP1_carpool.h5ad
data/output_pickles/
data/norman_full/
data/exploring_discrepancies_norman.ipynb

!imgs/model_overview.png

*.pdf
*.pyc
*.log
*.json
*.txt
*.yaml
*.png

dockerfile/docker_readme.md
!dockerfile/requirements.txt
.vscode/
results/
mlruns/

logs/
*.log

src/preprocessing/
src/analysis/
src/figures/
src/encoder_vs_decoder/
src/misc/
src/uhler/wandb
src/old/
src/second_dataset/

anonymize/