data/Norman2019_raw.*
data/Norman2019_reduced.h5ad

!imgs/model_overview.png

*.pdf
*.pyc
*.log
*.json
*.txt
*.yaml
*.png

dockerfile/docker_readme.md
.vscode/
results/
mlruns/

logs/
*.log

src/preprocessing/
src/analysis/
src/figures/
src/encoder_vs_decoder/
src/misc/
src/uhler/wandb
src/old/

anonymize/